<div class="signup">
  <mat-card class="signupForm">
    <form class="signup-form" (submit)="onSubmit(registerForm)" #registerForm="ngForm">
      <h2>Frontend Forum Register</h2>
      <mat-form-field>
        <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required>
        <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="samepassword" ngModel matInput placeholder="Repeat Password"
          #samepassInput="ngModel" required>
        <mat-error *ngIf="samepassInput.invalid">Please enter you password.</mat-error>
      </mat-form-field>
      <button class="signup-btn" mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </mat-card>
</div>
