<div class="login">
    <mat-card class="loginForm">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form class="login-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <h2>Frontend Forum Login</h2>
            <mat-form-field>
                <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel"
                    required>
                <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
                    required>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            <button class="login-btn" color="primary" mat-raised-button type="submit" *ngIf="!isLoading">Login</button>
        </form>
    </mat-card>
</div>
