.detail {
  width: 1200px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}


.detail h1 {
  font-size: 18px;
  font-weight: bold;
  width: 600px;
  margin: 0 auto 20px;
  word-break: break-word;
  white-space: pre-wrap;
}

.detail p {
  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
  white-space: pre-wrap;
}

.list-item {
  width: 1200px;
  box-sizing: border-box;
  padding: 8px 15px;
  background: #fff;
  margin: 0 auto 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
