/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ac {
  display: flex;
  align-items: center;
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tc {
  text-align: center;
}

